<div class="container center">
  <br>
  <%= pie_chart @personality.categories.group(:name).sum(:amount_cents) %>
  <br>
  <%= form_for(@personality, url: user_personality_graphics_path(@personality), method: :get) do |f| %>
    <div class="form-inputs row">
      <div class="input-field col s6 offset-s3">
        <strong>Choose date range</strong>
        <p>Date from</p>
        <%= text_field_tag 'search[date_from]', @date_from %>
        <p>Date to</p>
        <%= text_field_tag 'search[date_to]', @date_to %>
      </div>
    </div>
    <div class="form-actions center">
      <%= f.submit 'Search transactions', class: "btn waves-effect white-text light-green darken-2" %>
    </div>
  <% end %>
  <br>
  <% @personality.categories.each do |category|%>
    <h1 style="color: black;"><%= category.name %></h1>
    <h2 style="color: black;">List of transactions</h2>
    <h3 style="color: red;">Withdrawals</h1>
    <% category.transactions.where({ created_at: @date_from..@date_to })
               .select{ |transaction| transaction["withdrawal"] == true }.each do |transaction| %>
      <%= render partial: "transaction", object: transaction %>
    <% end %>
    <h3 style="color: green;">Incomes</h3>
    <% category.transactions.where({ created_at: @date_from..@date_to })
               .select{ |transaction| transaction["withdrawal"] == false }.each do |transaction| %>
      <%= render partial: "transaction", object: transaction %>
    <% end %>
  <% end %>
</div>